@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.homepagecardcircle {
  &__1 {
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    bottom: 1px;
    z-index: 2;
    animation: bubble2 30s ease-in-out infinite;

    @include desktop {
      display: none;
    }
  }

  &__2 {
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 900px;
    z-index: 2;
    animation: bubble3 30s ease-in-out infinite;
    @include desktop {
      display: none;
    }
  }

  &__3 {
    background-color: white;
    border: 3px solid #23f3da;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 1000px;
    z-index: 1;
    animation: bubble 30s ease-in-out infinite;
    @include desktop {
      display: none;
    }
  }

  &__4 {
    background-color: white;
    border: 3px solid #23f3da;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 1000px;
    z-index: 1;
    animation: bubble 30s ease-in-out infinite;
    @include desktop {
      display: none;
    }
  }

  &__5 {
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 900px;
    z-index: 1;
    animation: bubble 30s ease-in-out infinite;
    @include desktop {
      display: none;
    }
  }

  &__6 {
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 600px;
    z-index: 1;
    animation: bubble3 30s ease-in-out infinite;
    @include desktop {
      display: none;
    }
  }
  @keyframes bubble {
    0% {
      transform: translateY(0);
      opacity: 0.5;
    }
    10% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    20% {
      transform: translateX(30px);
      opacity: 0.8;
    }
    30% {
      transform: translateY(40px);
      opacity: 0.8;
    }
    50% {
      transform: translateX(50px);
      opacity: 0.6;
    }

    70% {
      transform: translateY(60px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(-100%) scale(0);
      opacity: 0;
    }
  }

  @keyframes bubble2 {
    0% {
      transform: translateX(0);
      opacity: 0.5;
    }
    10% {
      transform: translateX(-10px);
      opacity: 0.5;
    }
    20% {
      transform: translateY(30px);
      opacity: 0.8;
    }
    30% {
      transform: translateX(40px);
      opacity: 0.8;
    }
    50% {
      transform: translateY(50px);
      opacity: 0.6;
    }

    70% {
      transform: translateX(60px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-100%) scale(0);
      opacity: 0;
    }
  }

  @keyframes bubble3 {
    0% {
      transform: translateX(0);
      opacity: 0.8;
    }
    10% {
      transform: translateX(-20px);
      opacity: 0.8;
    }
    15% {
      transform: translateX(-20px);
      opacity: 0.7;
    }
    20% {
      transform: translateY(40px);
      opacity: 0.6;
    }

    25% {
      transform: translateY(40px);
      opacity: 0.5;
    }
    30% {
      transform: translateX(50px);
      opacity: 0.5;
    }
    50% {
      transform: translateY(60px);
      opacity: 0.6;
    }

    50% {
      transform: translateY(60px);
      opacity: 0.7;
    }

    70% {
      transform: translateX(80px);
      opacity: 0.5;
    }
    80% {
      transform: translateX(80px);
      opacity: 0.4;
    }
    100% {
      transform: translateX(-100%) scale(0);
      opacity: 0;
    }
  }

  @keyframes bubble4 {
    100% {
      transform: translateX(0);
      opacity: 0.8;
    }
    80% {
      transform: translateX(-20px);
      opacity: 0.8;
    }
    60% {
      transform: translateY(40px);
      opacity: 0.5;
    }
    50% {
      transform: translateX(50px);
      opacity: 0.5;
    }
    30% {
      transform: translateY(60px);
      opacity: 0.6;
    }

    50% {
      transform: translateX(80px);
      opacity: 0.5;
    }

    60% {
      transform: translateX(80px);
      opacity: 0.5;
    }

    80% {
      transform: translateX(80px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-100%) scale(0);
      opacity: 0;
    }
  }
}
