@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.maincircle {
&__block {
    width:100vw;
    height:100vh;
    background-color: #23F3DA;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    // border-bottom-left-radius: 30%;
    // border-radius: 50%;

    margin-bottom:0;
    background: linear-gradient(to right,  rgba(35, 243, 218, 0.8), #23F3DA );
    z-index:1;  
  }
  
  &__profile {
    background-color: white;
    border: 4px solid #23F3DA;
    width: 75rem;
    height: 50rem;
    z-index: 2;
    position: relative;
    right: 330px;
    top: 100px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

  &__mojo {
    width: 30rem;
    height: 30rem;
    z-index: -1;
    border-radius: 18rem;
    position: relative;
    bottom: 63px;
  }

  &__dog-intro {
    border-radius: 50%;
    font-family: 'WorkSans';
    color:#23F3DA;
    font-weight:600;
    font-size:2rem;
    // width:100%;
    // height:100%;
  }

  &__dog-wrapper {
    display: flex;
  }

//   &__static-dog {
//     width:35rem;
//     height: 35rem;
//     visibility: hidden;
//     z-index: 1;
//   }

  &__wrapper {
    display:flex;
  }

  &__gif-dog {
    // visibility: hidden;
    width:35rem;
    height: 35rem;
    border-radius: 50%;
    z-index:1;
  }

//   &__gif-dog--visible {
//     visibility: visible; 
//     width:35rem;
//     height: 35rem;
//     border-radius: 50%;
//   }

//   &__static-dog--visible{
//     visibility: visible; 
//   }
}