@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.callbackPets {
    &__cheering{
        width:14rem;
        height:14rem;
        z-index: -1;
    }

    &__chat {
        width:10rem;
        height:10rem;
        z-index: 1;
    }

    &__wrapper {
        // at 767
        position: absolute;
        left: 960px;
       top: 55px;
        z-index: 2;
        display:flex;
    }

    &__bubble-text {
        position: relative;
        left: 25px;
        top: -78px;
        z-index: -1;
        width:6rem;
        display: flex;
        font-family: 'WorkSans';
        font-size: 1rem;
        overflow: hidden;
        animation: type 2s ease-in-out forwards;
    }
&__wrapper.rollout {
    animation: rollOut 1s ease-in-out;
}
@keyframes rollIn {
    from {
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        opacity:0;
    }
    to {
        transform: translate3d(0,0,0);
        opacity:1;
    }
}

    &__bubble-wrap {
        display: flex;
        flex-wrap: wrap;
        animation: rollIn 1s ease-in-out;
    }

    @keyframes rollOut {
        from {
            transform: translate3d(0,0,0);
            opacity:1;
        }
        to {
            transform: translate3d(100%, 0, 0) rotate3d(0,0,1, 120deg);
            opacity:0;
        }
    }


    }


