@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.callbacks {
    display:flex;
    justify-content: space-around;

    &__icon-wrapper {
        display: flex;
    }

    &__brainteaser-link {
        width:5rem;
        height:5rem;
        margin-right:1rem;
    }

    &__cleanup-link {
        width:5rem;
        height:5rem; 
    }

    &__home {
        width:5rem;
        height:5rem;  
    }
}