@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.mathselect {
  &__items-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
  }
  &__timer {
    border: 2px solid #23f3da;
    padding: 5rem;
    border-radius: 2rem;
  }
  &__pts {
    border: 2px solid #23f3da;
    padding: 10rem;
    font-size: 8rem;
    height:5rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
  }

  &__pts--add {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    border: 2px solid #23f3da;
  }

  &__pts--minus {
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
    border: 2px solid #23f3da;
  }

  &__question {
    border: 2px solid #23f3da;
    margin-top: 3rem;
    font-size: 7rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding:2rem;
  }

  &__answer {
    border: 2px solid #23f3da;
    background-color: #23f3da;
    padding: 6rem;
    border-radius:2rem;
    margin: 2rem 1.5rem;
    width: 100%;
    font-size: 4rem;
    color:white;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover {
      font-size: 5rem;
    }
  }
  &__response-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.6rem;
  }

  &__answer-wrapper {
    display: flex;
  }
  &__q-mark {
    width:8rem;
    height:8rem;
  }

  &__intro--1, &__intro--2 {
    background-color: #23f3da;
    border-radius:1rem;
    color:white;
    font-size: 3rem;
    margin:1rem;
    padding:1rem;
  }

  &__instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
