@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header{
    @include tablet {
    margin:1.6rem;
    }

    &__wrapper {
        display: flex;
    justify-content: flex-end;
    margin: 1.6rem;
    }

    &__logout {
        width:5rem;
        height:5rem;
        @include tablet {
            height: 5rem;
        }
        @include desktop {
            width: 5rem;
            height:7rem;
        }

        &:hover {
            fill: #23F3DA;
        }
    }

    &__info {
        width:7rem;
        height:7rem;
    
    }

}