@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.cleaningpage {
    &__header {
        display: flex;
        justify-content: space-around;
    }
  &__home {
    width: 3rem;
    height: 3rem;
  }
  
  &__brainteaser-link{
    width: 3rem;
    height: 3rem;
    margin-right:1rem;
  }

  &__callbacks-link{
    width: 3rem;
    height: 3rem;
  }
}