@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.cleaningpage__cat {
height:20rem;  
animation: spin 3s linear 0s 2; 
}
@keyframes spin{
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg)
    }
}


