@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
  margin: 0 1.6rem;

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }

  &__funfact {
    background-color: #4767d6;
    border-radius: 0.5rem;
    color: white;
    flex-wrap: wrap;
    font-size: 1rem;
    padding: 0.5rem;
    width: 68%;

    @include tablet {
      font-size: 1.5rem;
      width: 75%;
    }

    @include desktop {
        font-size: 3.5rem;
    height: 14rem;
    }
  }

  &__account {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    @include tablet {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem;
    }
    @include desktop {
        width: 7rem;
        height: 7rem;
    }
  }
  &__contact {
    width: 3rem;
    height: 3rem;
    @include tablet {
        width: 4rem;
        height: 4rem;
    }
    @include desktop {
        width: 7rem;
        height: 7rem;
    }
  }
}
