@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.slogan {
    display: flex;
    flex-wrap: wrap;
    width: 67%;
    // justify-content: center;
    margin-bottom:10rem;

    &__text, &__pet {
        font-family: 'WorkSans';
        margin-top:1rem;
        background-color: #23F3DA;
        padding: 1rem;
        border-radius: 1rem;
        color:white;
        font-weight:600;
        font-size: 3rem;


    }

    &__title {
        font-family: 'WorkSans';
        margin-top:1rem;
        background-color: #23F3DA;
        padding: 1rem;
        border-radius: 1rem;
        color:white;
        font-weight:600;
        font-size: 4.5rem; 
    }

   
}