@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.brainteaser {
  &__cardD {
    background-color: #23f3da;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    right: 46px;
    top: 127px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: white;
    }

    @include desktop {
      background-color: #23f3da;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__addFact {
    color: white;
    font-family: "WorkSans";
    font-weight: 600;
    font-size: 1rem;
    width: 5rem;
    &:hover {
      color: #23f3da;
    }
    @include desktop {
      color: white;
      font-family: "WorkSans";
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}
