@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.brainteaser {
  // background-color: #23F3DA;
    &__home {
        width: 3rem;
        height: 3rem;
        
      }

      &__cardA {
        background-color:transparent;
        width:25rem;
        height:25rem;
        border-radius: 50%;
        position: absolute;
        left: -25px;
        top:5px;
        border: 2px solid #23F3DA;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:30rem;
          height:30rem;
        }
      }

      &__cardB {
        background-color:#23F3DA;
        width:25rem;
        height:25rem;
        border-radius: 50%;
        position: absolute;
        right: -25px;
        bottom:5px;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:30rem;
          height:30rem;
        }
      }

      &__cardC {
        background-color:#23F3DA;
        width:5rem;
        height:5rem;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        bottom:60px;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:10rem;
          height:10rem;
        }
      }
      &__cardD {
        background-color:#23F3DA;
        width:12rem;
        height:12rem;
        border-radius: 50%;
        position: absolute;
        right: 10px;
       top:60px;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:10rem;
          height:10rem;
        }
      }

      &__cardE {
        background-color:transparent;
        width:14rem;
        height:14rem;
        border-radius: 50%;
        position: absolute;
        right: 10px;
       top:60px;
       border: 2px solid #23F3DA;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:10rem;
          height:10rem;
        }
      }

      &__cardF {
        background-color:white;
        width:12rem;
        height:12rem;
        border-radius: 50%;
        position: absolute;
        right: 10px;
       bottom:60px;
       border: 2px solid #23F3DA;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:10rem;
          height:10rem;
        }
      }
      &__cardG {
        background-color:#23F3DA;
        width:12rem;
        height:12rem;
        border-radius: 50%;
        position: absolute;
        left: 10px;
       top:60px;
        // animation: float 2s ease-in-out infinite;
        z-index: -1;
      
        @include tablet {
          width:10rem;
          height:10rem;
        }
      }
      &__header {
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        
      }

      &__icon-wrapper {
        display: flex;
      }

      &__cleanup-link {
        width: 3rem;
        height: 3rem;
        margin-right:1rem;
      }

      &__callbacks-link {
        width: 3rem;
        height: 3rem;
      }
}

