@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.homepage {
width:100vw;
height:100vh;
// background-color:#23F3DA;

// #22CAB6;

&__circle {
  background-color:#23F3DA;
  width:5rem;
  height:5rem;
  border-radius: 50%;
  
}

&__wrapper {
  @include desktop {
    flex-direction:row;
  }
}
&__dog{
  // trying to prevent gif from running all the time
  width:5rem;
  height:5rem;
//   animation-name: Dog;
//   animation-duration: 4s;
//   animation-iteration-count: infinite;
//   animation-play-state: paused;

// }
// &__dog:hover {
//   animation-play-state:running;
// }

@keyframes Dog {
  0% {
    transform:translate(0,0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}

}


}


