@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.homepage {
width:100vw;
height:100vh;

&__wrapper {
  @include desktop {
    flex-direction:row;
  }
}
&__dog{
  width:5rem;
  height:5rem;
}

}
