@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.homepage {
border: 6rem solid #23F3DA;


&__main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

&__circle {
  background-color:#23F3DA;
  width:25rem;
  height:25rem;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top:5px;
  // animation: float 2s ease-in-out infinite;
  z-index: -1;

  @include tablet {
    width:30rem;
    height:30rem;
  }

}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

&__circle2 {
  background-color:white;
  display: flex;
  // display: inline-block;
  width:15rem;
  height:15rem;
  border-radius: 50%;
  // position: absolute;
  // right:40px;
  // bottom:40px;
  animation: float 2s ease-in-out infinite;
  z-index: -1;
}


&__circle3 {
  background-color:#23F3DA;
  width:15rem;
  height:15rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top:90px;
  right:5px;
  // animation: float 2s ease-in-out infinite;

  // @include tablet {
  //   width:20rem;
  // height:20rem;
  // }
}

&__circle4 {
  background-color:#23F3DA;
  width:20rem;
  height:20rem;
  border-radius: 50%;
  position: absolute;
  top:90px;
  right:5px;
  z-index: -1;
  // animation: float 2s ease-in-out infinite;

  @include tablet {
    width:20rem;
  height:20rem;
  }
}

&__circle5 {
  background-color: transparent;
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  position: absolute;
  border: 2px solid white;
  top: 10px;
  left: 35px;
  z-index: 1;
  
  // animation: float 2s ease-in-out infinite;

  @include tablet {
    width:20rem;
  height:20rem;
  }

 
}

&__circle6 {
  background-color: transparent;
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #23F3DA;
  bottom: 3px;
  right: 27px;
  z-index: -1;
}

&__circle7 {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 132px;
  right: 27px;
  z-index: -1;
}


&__circle8 {
  background-color:#23F3DA ;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  bottom: 132px;
  right: 27px;
  z-index: -1;
  opacity: 0.5;
  animation: float2 2s ease-in-out infinite;
}

&__circle9 {
  background-color:#23F3DA ;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  right: 440px;
  top:50px;
  z-index: -1;
  opacity: 0.5;
  // animation: float2 2s ease-in-out infinite;
}
// &__wrapper {
//   position:relative;
//   width:50%;
//   height:50%;
//   @include desktop {
//     flex-direction:row;
//   }
// }



}





